#Pre Processing
pandas
numpy
matplotlib
nibabel
h5py
requests
gsutil
tqdm

#Model
# tensorflow==2.10.0
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow-estimator==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
xgboost
transformers
torch
sentence_transformers


#API
uvicorn
fastapi

#Front End
streamlit
st_clickable_images
pathlib
openai
streamlit_js_eval
