#Pre Processing
pandas
numpy
matplotlib
nibabel
h5py
openai
os
requests
gsutil

#Model
# tensorflow==2.10.0
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

#API
uvicorn
fastapi

#Front End
streamlit
st_clickable_images
pathlib
base64
json
PIL
glob
random

# Dall E
openai
