#Pre Processing
pandas
numpy
matplotlib
nibabel
h5py
requests
gsutil
tqdm

#Model
# tensorflow==2.10.0
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow-estimator==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
xboost
transformers
torch
sentence_transformers


#API
uvicorn
fastapi

#Front End
streamlit
st_clickable_images
pathlib
base64
json
os
PIL
glob
random
openai










import os
import PIL
import glob, random
import streamlit as st
from streamlit_js_eval import streamlit_js_eval
